@import url('https://fonts.googleapis.com/css?family=Marvel|Pragati+Narrow&display=swap');

.mapbox-container {
  grid-column: 1/5;
  grid-row: 2/3;
}

.mapbox-container-small {
  grid-column: 2/5;
  grid-row: 2/3;
}

.school-marker {
  max-width: 5%;
  height: auto;
}

.mapboxgl-map {
  max-height: 85vh;
}

#polygon-container {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 20%;
  height: 80vh;
  font-family: 'Marvel', sans-serif;
}

#button-container {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 20%;
}

#key-container {
  grid-column: 3/4;
  grid-row: 2/3;
  line-height: normal;
}

#key {
  opacity: 0.95;
  height: auto;
  background-color:#63b8ee;
  border-radius:10px;
  border:2px solid #3866a3;
  color:#14396a;
  font-size:15px;
  font-weight: bold;
  padding:2%;
  margin-right: 10%;
  text-decoration:none;
  text-shadow:0px 0px 0px #7cacde;
  margin-top: auto;
  margin-bottom: 20%;
}

#polygon {
  cursor: pointer;
}

#color-chips {
  display: inline-block;
  margin-left: 15%;
}

.color-value {
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, .2);

}

.key-box {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}


.filter-button {
  opacity: 0.95;
  width: 100%;
	box-shadow:inset 0px 0px 11px -31px #bee2f9;
	background-color:#63b8ee;
	border-radius:10px;
	border:2px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-size:15px;
	font-weight:bold;
	padding:12px 24px;
  margin: 3%;
	text-decoration:none;
	text-shadow:0px 0px 0px #7cacde;
}

.filter-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}

.filter-button:active {
	position:relative;
	top:1px;
}
