#custom-filters-container {
  background: #D9DCDD;
}

.range-slider {
  margin-top: 15px;
  margin-bottom: 20px;
}

.input-range__label--min {
    visibility: hidden;
}
.input-range__label--max {
    visibility: hidden;
}

.slidecontainer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.sliderfill {
  border:0 none;
  border-radius: 4px;
  margin:0;
  padding:0;
  height:100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
