.App {
  text-align: center;
  height: 100vh;
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.mapboxgl-map {
  height: 100vh;
  width: auto;
}
.mapboxgl-canary {
  visibility: visible;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
